<div class="jumbotron center">
  <h1 class="display-4">Alpha Blog</h1> 
  <h2>Michael Andrews</h2><br><br><br>
  <p><em>Aspiring</em> Web Developer</p>
  <p>I am a retired old fart learning new technology and having fun on the journey. My interests also are in Competitive Firearms <a href="https://www.ipsc-ont.org/" target="_blank">shooting</a> and Volunteeer Work at the Gun Club where I belong.</p>     
  <%= link_to "Sign up Now", "#", class: "btn btn-danger btn-lg btn-xlarge"%>
</div>



  <hr>
  <h3>Education</h3>
  <ul>
    <li>Management Supervisor Program</li>
    <li>Power Maintenance Electrician Apprenticeship</li>
    <li>Northern College of Technology and Mines - Electrical Engineering Technician</li>
    <li>Iroquois Falls Secondary High School</li>
  </ul>
<hr>
  <h3>Work Experience</h3>
  <table>
    <thead>
    <tr>
      <th>Dates</th>
      <th>Work</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>2013 - Present</td>
      <td>Retired and Working for Fun</td>
    </tr>
    <tr>
      <td>1999 - 2013</td>
      <td>Trades Management Supervisor, Ontario Power Generation Inc</td>
    </tr>
    <tr>
      <td>1981 - 1999</td>
      <td>Power Maintenance Electician, Ontario Hydro</td>
    </tr>
    </tbody>
    <tfoot>
    </tfoot>
  </table>
  <hr>
  <h3>Skills</h3>
  <table cellspacing="35">
    <tr>
      <td>
        <table>
          <tr>
            <td>HTML5</td>
            <td>★★★☆☆</td>
          </tr>
          <tr>
            <td>Bootstrap Framework</td>
            <td>★★☆☆☆</td>
          </tr>
          <tr>
            <td>CSS(3)</td>
            <td>★★★☆☆</td>
          </tr>
          <tr>
            <td>Javascript</td>
            <td>★★☆☆☆</td>
          </tr>
          <tr>
            <td>Ruby</td>
            <td>★★☆☆☆</td>
          </tr>
        </table>
      </td>
      <td>
        <table>
          <tr>
            <td>Welding</td>
            <td>★★★☆☆</td>
          </tr>
          <tr>
            <td>Electrician</td>
            <td>★★★★☆</td>
          </tr>
          <tr>
            <td>Operating Heavy Equipment</td>
            <td>★★★★☆</td>
          </tr>
          <tr>
            <td>Surveying</td>
            <td>★★★☆☆</td>
          </tr>
          <tr>
            <td> Climbing Arborist</td>
            <td>★★★☆☆</td>
          </tr>
        </table>
      </td>
  </table>
  <hr>
  <h3><a href="hobbies.html"></h>My Hobbies</a></h3>


